@{
    ViewData["Title"] = "Task List";
}
@model List<ApplicationResponse>

<div class="text-center">
    <h1 class="display-4">Task List</h1>
</div>
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead class="font-weight-bolder text-center">
            <tr>
                <td>Task</td>
                <td>Due Date</td>
                <td>Quadrant</td>
                <td>Category</td>
                <td>Completed</td>
            </tr>
        </thead>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.task</td>
                <td>@x.due_date</td>
                <td>@x.quadrant</td>
                <td>@x.Category.CategoryName</td>
                <td>@x.completed</td>


                <td><a asp-controller="Home" asp-action="Edit" asp-route-id="@x.DataId" class="btn btn-outline-primary text-center" style="width: 100px">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-id="@x.DataId" class="btn btn-outline-primary text-center" style="width: 100px">Delete</a></td>
            </tr>

        }
    </table>
    <br />

</div>
<a asp-controller="Home" asp-action="MyApp" class="btn btn-outline-primary text-center">Add a Task</a>
